**Bodovi ostvareni na testu**

| Student | Bodovi |
| :------ | :------: |
| Vidić Luka | 15 |
| Babić Nikola | 14 |
| Čiča Danilo | |
| Ćehić Neira | |
| Đaković Anja | 12 |
| Tripić Nemanja | 13 |
| Radonić Andriana | 4 |
| Legenović Dajana | 8 |
| Savković Božana | 7 |

**Napomena:** Maksimalno se može ostvariti 25% ocjene na testu.
