**Bodovi ostvareni na testu**

| Student | Bodovi |
| :------ | :------: |
| Vidić Luka | |
| Babić Nikola | |
| Čiča Danilo | |
| Ćehić Neira | |
| Đaković Anja | |
| Tripić Nemanja | |
| Radonić Andriana | |
| Legenović Dajana | |
| Savković Božana | |

**Napomena:** Maksimalano se može ostvariti 25% ocjene na testu.
